.post {
  background-color: white;
  max-width: 500px;
  border: 1px  solid lightgray;
  margin-bottom: 45px;
}

.strongtext {

  padding-right: 10px;
}
.post_image {
  width:100%;
  object-fit: contain;
  border-top: 1px  solid lightgray;
  border-bottom:  1px  solid lightgray;
}

.post_text {
   font-weight: 350;
   padding-left:  20px;
   padding-right:  20px;
   padding-bottom: 20px;
   padding-top: -20px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
}

.post_commentBox {
  display: flex;
  margin-top: 10px;
}

.post_input {
  flex:1;
  border:none;
  padding: 10px;
  border-top:  1px solid lightgray;
  color: #6082a3;
}

.post_button {
  flex:0;
  border:none;
  background-color: transparent;
  border-top:  1px solid lightgray;
}

.post_comments {
  padding: 20px;
  font-weight: 350;
}

.icon {
  padding: 20px;
}

.likedby {
  padding-top: 10px;
  font-weight: 400;
}

.iconbutton {
  border:none;
  background-color: transparent;

}

.likednames {
  padding-left: 5px;
}
